:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --font-karla: 'Karla';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
}

.page-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkmenu {
    display: none;
}

.container {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu-item {
    padding-right: 25px;
    text-transform: uppercase;
}

.menu-link {
    text-decoration: none;
    font-family: var(--font-karla);
    font-weight: 700;
    color: var(--dark-grayish-violet);
    transition: 0.4s;
}

.menu-link:hover {
    color: var(--very-dark-violet);
}

.btn-link {
    border: 2px solid var(--dark-violet);
    width: 146px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-violet);
    text-decoration: none;
    transition: 0.4s;
}

.btn-link:hover {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
}

.page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: var(--very-light-gray);
}

.main-intro_right {
    position: absolute;
    right: 0;
    top: 0;
}

.main-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 105px;
    margin-bottom: 305px;
    width: 100%;
    height: 600px;
    background-color: var(--dark-violet);
}

.blok-preview_left::before {
    content: "";
    display: block;
    border-top: 1px solid var(--dark-grayish-violet);
    width: 150px;
    padding-bottom: 70px;
}

.blok-preview_left {
    width: 532px;
}

.title-preview {
    font-size: 72px;
    font-weight: 400;
    line-height: 65px;
}

.info-preview {
    color: #fff;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: var(--font-karla);
    line-height:25px;
}

.btn-link_preview {
    border: 1px solid #fff;
    width: 145px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-karla);
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.4s;
}

.btn-link_preview:hover {
    background-color: #fff;
    color: var(--very-dark-violet);
}

.blok-preview_right img{
    transition: 0.4s;
}

.main-intro_left {
    position: absolute;
    left: 0;
    top: 430px;
}

.main-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--very-dark-violet);
    margin-bottom: 160px;
}

.main-about .container::before {
    content: "";
    display: block;
    border-top: 1px solid var(--dark-grayish-violet);
    width: 150px;
    padding-bottom: 70px;
}

.main-about .container {
    flex-direction: column;
}

.about-title {
    font-size: 72px;
    margin-bottom: 100px;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-item {
    width: 340px;
}

.about-item__title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
}

.about-item__info {
    line-height: 25px;
    color: var(--dark-grayish-violet);
}

.about-item svg:hover {
    fill: hsl(256, 26%, 20%);
}

.main-work {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.main-work .container{
    background-color: var(--dark-violet);
    height: 250px;
    align-items: center;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.main-work .container::after{
    content: url(../images/bg-pattern-how-we-work-desktop.svg);
    position: absolute;
    right: 0;
    top: 0;
}

.work-title {
    width: 280px;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
}

.work-btn {
    border: 1px solid #fff;
    width: 145px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-karla);
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.4s;
    z-index: 99;
}

.work-btn:hover {
    background-color: #fff;
    color: var(--very-dark-violet);
}

.page-footer {
    height: 390px;
    display: flex;
    justify-content: center;
    background-color: var(--very-light-gray);
    padding-top: 65px;
    position: relative;
}

.page-footer .container{
    flex-direction: column;
    justify-content:start;
}

.page-footer::before {
    content: url(../images/bg-pattern-footer-desktop.svg);
    position: absolute;
    left: 0;
    top: 0;
}

.footer-block-top {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    z-index: 99;
    border-bottom: 1px solid var(--dark-grayish-violet);
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-item {
    padding-left: 15px;
}

.footer-list svg{
    fill: #837D88;
    transition: 0.4s;
}

.footer-list svg:hover{
    fill:  var(--very-dark-violet);
}

.footer-block-bottom {
    margin-top: 50px;
    z-index: 99;
    text-transform: uppercase;
}

.bottom-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark-grayish-violet);
}

.list-link {
    margin-top: 20px;
}

.item-link {
    padding-bottom: 10px;
}

.item-link a {
    text-decoration: none;
    color: var(--very-dark-violet);
    line-height: 1px;
}

.item-link a:hover {
    text-decoration:underline;
    transition: 0.4s;
}


@media (min-width: 375px) and (max-width:720px){
    .page-header {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .menu::after {
        content: url(../images/icon-close.svg);
        visibility: hidden;
    }

    .logo-img {
        display: flex;
        align-items: center;
    }

    .menu-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 80px;
        height: 0;
        width: 100%;
        background-color: var(--very-dark-violet);
        visibility: hidden;
        transition: 0.6s;
    }

    .menu-list::after {
        content: url(../images/bg-pattern-mobile-nav.svg);
        position: absolute;
        bottom: 0;
        height: 0;
        visibility: hidden;
        display: none;
    }

    .menu-item {
        padding-top: 50px;
        font-family: var(--font-karla);
        padding-right: 0;
    }

    .menu-link {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
    }

    .btn-link {
        width: 325px;
        color: #fff;
        border: 1px solid #fff;
        font-size: 20px;
    }

    .menu {
        background-image: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }

    #checkmenu {
        display: block;
        opacity: 0;
        width: 32px;
        height: 32px;
    }

    #checkmenu:checked ~ .menu-list {
        visibility: unset;
        height: 100%;
        transition: 0.6s;
    }

    #checkmenu:checked ~ .menu-list::after {
        display: block;
        height: 223px;
        transition: 2s;
        visibility: unset;
    }
}